@import "tailwindcss";

:root {
  --background-color: #0b0c10;
  --foreground-color: #c5c6c7;
  --hover-color: #66fcf1;
  --slide-bar: #1f2833; 
  --accent-color: #ffcc29;
  --card-bg: #161b22;
  --border-color: #3a3f4b;
  --secondary-bg: #121418;
  --button-bg: rgb(43, 49, 59);
  --error-color: #ff4c4c;
  --success-color: #4caf50;
  --white: #fff
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0B0C10;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  color: var(--button-bg);
}

.swiper .swiper-button-next:hover,
.swiper .swiper-button-prev:hover {
  color: #333
}